<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <h1>SignUp</h1>
    <% if (locals.error) { %>
        <p style="color:red;"><%= error %></p>
    <% } %>
    <form action="/user" method="post">
        <lable>Name</lable>
        <input type="text" name="name" required>
        <lable>Email</lable>
        <input type="email" name="email" required>
        <lable>Password</lable> 
        <input type="password" name="password" required>
        <button type="submit">SignUp</button>
    </form>
</body>
</html>